.webstudio1 {
   width: 145px;
   height: 31px;
   padding-bottom: 24px;
   padding-top: 25px;
   padding-left: 215px;
   padding-right: 306px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
}

.header {
   width: 1600px;
   height: 80px;
   margin-left:15px ;
   margin-right: 15px;
   margin-top:0px;
   margin-bottom: 10px;
   font-size: 14px;
   display: flex;
   justify-content:space-between;
   align-content: space-between;
   text-decoration: none;
}
.c1{
   height: 48px;
   width: 293px;
   left: 452px;
   top: 32px;
   border-radius: 2px;
}
.c2 {
   padding-left: 307px;
   border-right:30px ;
   border-top:32px ;
   border-bottom: 9px;
   text-decoration: none;
   height: 16px;
   width: 161px;
   border-radius: 0px;
   border-radius: 0px;
   color: #757575;
}
.c3 {
   padding-left: 30px;
   padding-right: 219px;
   border-top:32px ;
   border-bottom:9px ;
   text-decoration: none;
   height: 16px;
   width: 161px;
   left: 1052px;
   top: 32px;
   border-radius: 0px;
   color: #757575;
}

.primero { 
   height: 607px;
   width: 1600px;
   margin-left:0 px;
   margin-top: 9px;
   margin-bottom:77px ;
   display: flex;
   flex-direction: column;
   justify-content:center ;
   background-image: url(/images/bh.svg);
   font-size: 14px;
   color: white;
}
h1{
   width: 696px;
   height: 120px;
   border-top:296px ;
   margin-left: 437px;
   border-bottom:273px;
   margin-right: 437px;
   font-family: Roboto;
   font-size: 44px;
   font-weight: 900;
   line-height: 60px;
   letter-spacing: 0.06em;
   text-align: center;
   

 }

.botonservi {
   width: 200px;
   height: 50px;
   margin-left: 700px;
   margin-top: 3px;
   font-size: 16px;
   font-family: roboto;
   font-weight: bold;
   width: 200px;
   height: 50px;
   cursor: pointer;
   background-color: cornflowerblue;
   color: white;
   justify-content: center;
}

.icon-serv {
   height: 251px;
   width: 1170px;
   margin-left: 215px;
   margin-right: 215px;
   margin-top: 77px;
   width: 1170px;
   height: 251px;
   display: flex;
   flex-direction: row-reverse;
   align-content: flex-start;
}
.item{
display: flex;
flex-direction: column;
margin-top: 0;
font-size: 20px;
margin-left: auto;
margin-right:auto;
}
.aqnd {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 215px;
   margin-right: 215px;
   margin-top: 94px;
   width: 1170px;
   height: 386px;
}
h2{
   margin-left: 617px;
   margin-right: 617px;
   margin-top: 94px;
   margin-bottom: 50px;

}
      
.integrants{
   height: 428px;
   width: 1170px;
   display: flex;
   flex-direction: row;
   justify-content: ;
   align-content:cnter;
   margin-left:215px;
   margin-right:215px;
   margin-top: 50px;
   margin-bottom: 50px;
}
.ac{
   display: flex;
   flex-direction: column;
   height: 428px;
   width: 270px;
   border-left: 215px;
   border-right: 30px;
   border-top: 1785px;
   border-bottom: 1785px;
   
}
.cp {
   display: flex;
   flex-direction: column;
   height: 428px;
   width: 270px;
   border-left: 215px;
   border-right: 30px;
   border-top: 1785px;
   border-bottom: 1785px;

}
.md {
   display: flex;
   flex-direction: column;
   height: 428px;
   width: 270px;
   border-left: 215px;
   border-right: 30px;
   border-top: 1785px;
   border-bottom: 1785px;

}
.pm {
   display: flex;
   flex-direction: column;
   height: 428px;
   width: 270px;
   border-left: 215px;
   border-right: 30px;
   border-top: 1785px;
   border-bottom: 1785px;

}
.foot1{
   width: 1600px;
   height: 252px;
   color: white;
   background-color:#2F303A;;
   font-size: 14px;
}
.webstudio2{
   width: 145px;
   height: 31px;
   padding-bottom: 24px;
   padding-top: 25px;
   padding-left: 215px;
   padding-right: 306px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
}

.container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
}

address{
   height: 21px;
   width: 231px;
   margin-left: 215px;
   border-top: 2776px;
   border-radius: nullpx;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;
}
.c4{
   height: 21px;
   width: 231px;
   border-left: 215px;
   margin-right: 215px;
   padding-top: 191px;
   margin-bottom: 90px;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;
   color: #FFFFFF99;
  
}
.c5{
   height: 21px;
   width: 231px;
   border-left: 215px;
   margin-right: 215px;
   padding-top: 191px;
   margin-bottom: 90px;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;
   color: #FFFFFF99;


}
.types{
cursor: pointer;
font-size: 14px;
display: flex;
flex-direction: row;
justify-content: space-around;
padding-right: 500px;
padding-bottom: 50px;

}
.srv{
   display: flex;
   flex-wrap: wrap;
   justify-content: first baseline;
}
