body{
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
color: rgb(0, 0, 0);
font-size: auto;
}
.head1 {   
color: white;
line-height: normal;
background-color: black;
cursor: pontier;
width: 300px;
background-image: url(/);
padding-left: 500px;
padding-top: 200px;
padding-right: 500px;
padding-bottom: 200px;
}
.header{
   margin-left: 70px;
   margin-right:70px;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
}
.menu {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
}
.integrants{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 70px;
   margin-right:70px ;
}
#botonservi{
   cursor: pointer;
   background-color:cornflowerblue;
   color: white;
   justify-content: center;
   padding-left: 20px;
   padding-right: 20px;
   margin-right: 50px;
   margin-left: 50px;
}
#botonesportafolio{
   cursor: pointer; 
}
#todo {
   cursor: pointer;
}
#sitios {
   cursor: pointer;
}
#aplicaciones {
   cursor: pointer;
}
#diseño{
   cursor: pointer;
}
#marketing{
   cursor: pointer;
}
.foot1{
background-color: black;
color: white;
}
#webstudio{
   color: blue;
}
#h2{
   font-weight: 36;
   font-size: bold;
}
h3{
   font-weight: 36;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   margin-left: 70px;
   margin-right: 70px;

}
p {
   font-weight: 36;
   font-weight: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border
}
#linkcorreo{
      color: white;
      text-decoration:none;
   }
   #linknumero {
      color: white;
      text-decoration:none;
   }
  
   .container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
   }
